<ion-header>
  <ion-navbar color="navbar">
    <ion-title>TIPS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="jr_profile_wrapper">
      <div class="jr_profile_content">
        <div class="flex-item date">
          <h3>{{currentDate}} TIPS</h3>
        </div>
        <div class="jr_profile_tab_bay">
          <li [class.active]="tab=='active'" (click)="tab_swap('active')">FT PREDICTIONS</li>
          <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')">INPLAY PREDICTIONS</li>
          <div class="jr_clear"></div>
        </div>

        <div class="jr_profile_tab_content" [hidden]="tab=='inactive'">
          <br>
          <div class="predictions" *ngIf="predictions?.length > 0; else noPredictions">
            <ion-list>
              <ion-item-sliding *ngFor="let tip of predictions" #slidingitem>
                <ion-item no-lines no-padding class="item item-trns text-center">
                  <div class="league">
                    <h3>{{tip.country}}:</h3>
                    <h3>{{tip.league}}</h3>
                  </div>
                  <div class="thematch">
                    <h3 class="time">{{tip.ko}}</h3>
                    <h3 class="teams">{{tip.homeTeam}}
                      <strong>Vs</strong> {{tip.awayTeam}}</h3>
                    <h3 class="time">{{tip.result}}</h3>
                  </div>
                  <div class="tip">
                    <h3>{{tip.predictionTip}}</h3>
                  </div>
                </ion-item>

                <ion-item-options side='right'>
                  <button ion-button clear icon-only (click)="edit($event, tip)">
                    <ion-icon name="md-create"></ion-icon>
                  </button>
                  <button ion-button clear icon-only (click)="delete($event, tip)">
                    <ion-icon color="danger" name="md-trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>
          <ng-template #noPredictions>
            <div class="noPreds">
              <h4>No Predictions available for today</h4>
            </div>
          </ng-template>
        </div>
        <div class="jr_profile_tab_content" [hidden]="tab=='active'">
          <br>
          <div class="predictions" *ngIf="inplays?.length > 0; else noInplays">
            <ion-list>
              <ion-item-sliding *ngFor="let inplay of inplays">
                <ion-item class="item item-trns text-center">
                  <p>{{inplay.inplay}}</p>
                </ion-item>

                <ion-item-options side='right'>
                  <button ion-button clear icon-only (click)="editInplay($event, inplay)">
                    <ion-icon name="md-create"></ion-icon>
                  </button>
                  <button ion-button clear icon-only (click)="deleteInplay($event, inplay)">
                    <ion-icon color="danger" name="md-trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>

          <ng-template #noInplays>
            <div class="noPreds">
              <h4>No Inplay predictions available for today</h4>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ion-content>

