
.list-md ion-item-sliding {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.date {
  flex: none;
  text-align: center;
}

.league {
  padding: 0;
  margin: 2px;
  h3 {
    display: inline;
    font-weight: bold;
  }
}

.thematch {
  display: flex;
  .time {
    flex: 1;
    text-align: center;
  }
  .teams {
    flex: 2
  }
}

.tip {
  display: flex;
  flex-flow: row wrap;
  h3 {
    flex: 1 100%;
    text-align: center;
  }
}

.list {
  padding-bottom: 0;
  margin-bottom: 1px;
}

.noPreds {
  display: flex;
  flex-flow: row wrap;
  h4 {
    flex: 1 100%;
    text-align: center;
  }
}


