<ion-tabs color="tabs" >
  <ion-tab [root]="tab1Root" tabTitle="Today Tips" tabIcon="md-eye"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add Tips" tabIcon="md-add-circle"></ion-tab>
</ion-tabs>
