<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      Add Tips
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="jr_profile_wrapper">
      <div class="jr_profile_content">
        <div class="jr_profile_tab_bay">
          <li [class.active]="tab=='active'" (click)="tab_swap('active')">FT PREDICTIONS</li>
          <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')">INPLAY PREDICTIONS</li>
          <div class="jr_clear"></div>
        </div>

        <div class="jr_profile_tab_content" [hidden]="tab=='inactive'">
          <br>
          <ion-list>
            <form #addTip="ngForm" (submit)="onAddTip()">
              <ion-item class="item item-trns text-center">
                <ion-label floating>Country</ion-label>
                <ion-input type="text" name="country" [(ngModel)]="prediction.country" required></ion-input>
              </ion-item>

              <ion-item class="item item-trns text-center">
                <ion-label floating>League</ion-label>
                <ion-input type="text" name="league" [(ngModel)]="prediction.league"></ion-input>
              </ion-item>

              <ion-item class="item item-trns text-center">
                <ion-label floating>Home Team</ion-label>
                <ion-input type="text" name="homeTeam" [(ngModel)]="prediction.homeTeam"></ion-input>
              </ion-item>

              <ion-item class="item item-trns text-center">
                <ion-label floating>Away Team</ion-label>
                <ion-input type="text" name="awayTeam" [(ngModel)]="prediction.awayTeam"></ion-input>
              </ion-item>

              <br>

              <ion-item class="item item-trns text-center">
                <ion-label>Select Prediction</ion-label>
                <ion-select [(ngModel)]="prediction.predictionTip" name="tip" type="text">
                  <ion-option value="Home Win">Home Win</ion-option>
                  <ion-option value="Draw">Draw</ion-option>
                  <ion-option value="Away Win">Away Win</ion-option>
                  <ion-option value="DC X1">DC X1</ion-option>
                  <ion-option value="DC X2">DC X2</ion-option>
                  <ion-option value="GG">GG</ion-option>
                  <ion-option value="NG">NG</ion-option>
                  <ion-option value="Over 2.5">Over 2.5</ion-option>
                  <ion-option value="Under 2.5">Under 2.5</ion-option>
                </ion-select>
              </ion-item>
              <ion-row>
                <ion-col col-6>
                  <ion-item class="item item-trns text-center">
                    <ion-label floating>Date</ion-label>
                    <ion-datetime displayFormat="MMM D, YYYY" name='depatureDate' min="2018" max="2023-12-31" [(ngModel)]="date"></ion-datetime>
                  </ion-item>
                </ion-col>

                <ion-col col-6>
                  <ion-item class="item item-trns text-center">
                    <ion-label floating>Kick Off Time</ion-label>
                    <ion-datetime displayFormat="HH:mm" name='depatureDate' [(ngModel)]="prediction.ko"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>

              <br>
              <br>

              <button ion-button block class="submit-btn" color="dark" type="submit" [disabled]="!addTip.form.valid">Submit Prediction</button>
            </form>
          </ion-list>
        </div>
        <div class="jr_profile_tab_content" [hidden]="tab=='active'">
          <br>
          <ion-list>
            <form #addInplay="ngForm" (submit)="onAddInplay()">
              <ion-item class="item item-trns text-center">
                <ion-label floating>Inplay Tip</ion-label>
                <ion-textarea type="text" name="inplay" [(ngModel)]="inplay.inplay" required #myInput id="myInput" rows="1" maxLength="500"
                  (keyup)="resize()"></ion-textarea>
              </ion-item>
              <br>
              <button ion-button block class="submit-btn" color="dark" type="submit" [disabled]="!addInplay.form.valid">Submit Inplay Tip</button>
            </form>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
